@mixin font($fname, $fstyle, $fweight, $furl) {
    @font-face {
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        font-display: swap;
        src: url("#{$furl}.ttf");
    }
}

@include font("Neskid", normal, normal, "@/assets/fonts/11558");

@include font("FuturaPT", normal, 300, "@/assets/fonts/futura/FuturaPT-Light");
@include font("FuturaPT", normal, 400, "@/assets/fonts/futura/FuturaPT-Book");
@include font("FuturaPT", normal, 500, "@/assets/fonts/futura/FuturaPT-Medium");
@include font("FuturaPT", normal, 600, "@/assets/fonts/futura/FuturaPT-Demi");
@include font("FuturaPT", normal, 700, "@/assets/fonts/futura/FuturaPT-Heavy");
@include font("FuturaPT", normal, 800, "@/assets/fonts/futura/FuturaPT-BoldObl");
@include font("FuturaPT", normal, 900, "@/assets/fonts/futura/FuturaPT-ExtraBold");


@include font("FuturaPTCond", normal, 500, "@/assets/fonts/futura/FuturaPT-Medium");
@include font("FuturaPTCond", normal, 800, "@/assets/fonts/futura/FuturaPT-ExtraBold");

*{
  box-sizing: border-box;
}
body{
    font-family: 'Futura PT',sans-serif;
    font-weight: 500;
    line-height: 120%;
}
html,body, #app{
  height:100%;
  overflow: hidden;
  max-width: 100vw;
}
.layout{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}


.base-button {
    background: rgba(255, 255, 255, 0.8);
    color: $button-base-color !important;
    border: 2px solid $button-base-color;
    border-radius: 60px;
    min-height: 45px;
    padding: 5px;
    cursor: pointer;
    transition: .2s;
    word-break: break-word;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;


    &.success {
        color: white !important;
        border-color: $success-color;
        background-color: $success-color;
    }

    &.wrong {
        color: white !important;
        border-color: $wrong-color;
        background-color: $wrong-color;
    }

    &:disabled {
        cursor: default;
    }

    &:not(&:disabled):hover {
        transform: scale(1.05);
    }
}
